{% extends 'base.twig' %}
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
        <a href="">
            <figure>
                <img src="" alt="" />
                <figcaption>Discover the Brachiosaurus</figcaption>
            </figure>
        </a>
</section>